/* seleciona a div da classe container */
.container {
    background-color: rgb(198, 207, 214);
    color: white;
}

/* altera todos os p que estao dentro do container */
.container p {
    color: blueviolet;
    font-weight: bold;
}

/* altera apenas os p que sao filhos imediatos da div */
.container > p {
    border-bottom: 2px solid black;
}

/* alera o primeiro p que vem depois da div */
.container + p {
    color: pink;
    font-style: italic;
}

.destaque {
    background-color: rgb(36, 115, 139);
    width: 200px;
    padding: 20px; /* Distância interna */
    border: 5px solid black;
    margin: 15px;
}

* {
    box-sizing: border-box;
}