.item{
    background-color: #3498db;
    color: white;
    font-weight: bold;
    padding: 50px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    text-align: center;
    display: inline;
}

.menu-pai{
    display: flex;
    /* flex-direction: row; */
    /* gap: 15px; */
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: blueviolet;
}